.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
}
	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
		color: #C3C3C3;
	}

	.hero-text-container {
		width: 600px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		top: -3rem;
		.subtext {
			font-family: 'Helvetica', 'Arial', sans-serif;
			font-weight: bold;
			font-size: 31px;
			line-height: 1.2em;
			margin-top: 40px;
		}

		.hero-logo {
			width: 13rem;
			margin: 0 auto;
			display: block;
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
