.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	position: relative;
}
	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
		color: #C3C3C3;
	}

	.hero-text-container {
		width: 600px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		top: -3rem;
		.subtext {
			font-family: 'Helvetica', 'Arial', sans-serif;
			font-weight: bold;
			font-size: 31px;
			line-height: 1.2em;
			margin-top: 40px;
		}

		.hero-logo-wrap {
			width: 13rem;
			margin: 0 auto;
			display: block;
			position: relative;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			.hero-logo-frame {
				position: relative;
			}
			.hero-logo-inner {
				position: absolute;
				transform: translateZ(20px);
				-webkit-transform-style: translateZ(20px);
				top: 0;
				left: 0;
			}
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

section {
	h2 {
		font-family: 'Helvetica', 'Arial', sans-serif;
		font-weight: 600;
		margin-bottom: 15px;
		line-height: 1;
	}
	&#developer {
		h2 { color: $blue; }
		.image-coding-tilt {
			position: relative;
			transform-style: preserve-3d;
			.terminal-frame {
				position: relative;

			}
			.terminal {
				position: absolute;
				top: 0;
				left: 0%;
				transform: translateZ(30px);
				@media #{$desktop} {
					left: 20%;
				}
			}
		}
	}
	&#blog {
		h2 { color: $turquoise; }
	}
	&#music {
		h2 { color: $red; }
	}
}
.triangle-section {
	opacity: 0;
	position: absolute;
	@media #{$desktop} {
		top: 40%;
		left: 0;
		opacity: 1;
	}
}


